/*==========================================================GERAL===========================================================*/

@font-face {
    font-family: SpartanMB;
    src: url(Fonts/SpartanMB-Bold.otf);
    
}

@font-face {
    font-family: SpartanLight;
    src: url(Fonts/SpartanMB-Medium.otf);
}

* {
    margin: 0;
}

body {
    background-image: url(img/hero-alisson.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'SpartanMB', sans-serif;
}

a {
    text-decoration: none;
    color: #28282b;
}

/*========================================================CABEÇALHO=========================================================*/

nav {
    background-image: url(img/logo-loja-tips.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 2%;
    background-color: #e4e6f0;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    position: relative;
    list-style-type: none;
    align-items: center;
    right: 18%;
}

li {
    padding: 8%;
}

li:hover {
    transform: scale(1.1);
}

hr {
    padding: 0.15%;
    border: none;
    background: linear-gradient(#a2a2ac52, #e2e3f000);
}

.home {
    color: #158f87;
    position: relative;
}

.home::after {
    content: " ";
    width: 50%;
    height: 2px;
    background-color: #158f87;
    position: absolute;
    top: 100%;
    left: 0;
}

/*=======================================================CORPO==============================================================*/

main {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 1%;
    top: 40%;
    left: 2%;
}

.frase1 {
    font-size: large;
    line-height: 2;
    letter-spacing: 1px;
}

.frase2 {
    font-size: 3rem;
}

.span-verde {
    color: #137e76;
}

.frase3 {
    font-family: 'SpartanLight';
    font-size: smaller;
    color: #818d91;
    line-height: 2;
}

.btn {
    color: #158f87;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 3em;
    margin-top: 5%;
    margin-left: 7%;
    background-image: url(img/button.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn:hover {
    color: #18aca2;
}
